html {
    background: $light-blue-white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /* This is the main setup, mobile-first (max 480px)*/
    .header {
        @include smallest-header;
        height: 100vh;
        .header__title {
            display: inline-block;
            .header__title__child {
                color: $header-color;
                position: relative;
                text-shadow: 0.2rem 0.2rem 1rem rgba(221, 221, 225, 0.679);
                top: 30vh;
                h1 {
                    @include header-h1;
                }
                h2 {
                    @include header-h2;
                }
            }
            .header__pic-small {
                position: absolute;
                bottom: -2vh;
                right: 18vw;
                transform: rotate(347deg);
                z-index: 900;
                width: 100px;
            }
        }
    }

    /* Devices between 481px and 768px */
    @media only screen and (min-width: 481px) and (max-width: 769px) {
        .header {
            @include small-header;
            .header__title {
                .header__title__child {
                    left: 1vw;
                }
            }
        }
    }

    /* Devices between 769px and 1024px */
    @media only screen and (min-width: 770px) and (max-width: 1024px) {
        .header {
            @include medium-header;
            .header__title {
                .header__title__child {
                    top: 35vh;
                    left: 10vw;
                }
            }
        } 
    }

    /* marger screens, at least 1025px */
    @media only screen and (min-width: 1025px) {
        .header {
            @include large-header;
            .header__title {
                .header__title__child {
                    top: 30vh;
                    left: 18vw;
                }
            }
        }
    }
}