body {
    .landing-footer {
        display: flex;
        align-items: center;
        background-color: $green-footer;
        color: set-text-color($green-footer);
        font-size: 0.7rem;
        font-size: clamp(0.7rem, 0.6599999999999999rem + 0.2000000000000001vw, 0.9rem);
        justify-content: space-between;
        a {
            color: set-text-color($green-footer);
            .arrow-up {
                position: relative;
                top: 0.3rem;
                border: 2px solid $text-color;
                border-radius: 25px;
            }
            i {
                &:first-of-type {
                    padding-right: 0.6rem;
                }
            }

        }
        a:hover, i:hover {
            color: $petroleum;
            transform: scale(1.1);
            .arrow-up:hover {
                border-color: $petroleum;
            }
        }
    }
    @media only screen and (min-width: 769px) and (max-width: 1024px) {
        .landing-footer {
            padding: 0 2rem;
            a {
                .arrow-up {
                    top: 0.4rem;
                }
            }
        }
    }
    @media only screen and (min-width: 1025px) {
        .landing-footer {
            padding: 0 2.2rem;
            a {
                .arrow-up {
                    top: 0.4rem;
                }
            }
        }    
    }
}