html {
    background: $dark-grey;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /* This is the main setup, mobile-first (max 480px)*/
    .header {
        @include smallest-header;
        height: 100vh;
        .header__title {
            color: $header-color;
            display: inline-block;
            height: 100vh;
            padding: 2rem;
            position: relative;
            text-shadow: 0.2rem 0.2rem 1rem rgba(221, 221, 225, 0.679);
            width: 100vw;
            
            .header__title__child {
                position: absolute;
                line-height: 4rem;
                top: 13vh;
                margin-right: 2rem;
                h1 {
                    @include header-h1;
                }
            }
            .header__title-pic {
                position: absolute;
                bottom: 0;
                line-height: 3.5rem;

                h2 {
                    position: relative;
                    @include header-h2;
                    bottom: 30vh;
                }
                .header-pic {
                    display: none;
                }
            }
        }
    }

    /* Devices between 481px and 768px */
    @media only screen and (min-width: 481px) and (max-width: 769px) {
        .header {
            @include small-header;
            .header__title {
                position: relative;
                .header__title__child {
                    left: 10vw;
                    top: 17vh;
                }
                .header__title-pic {
                    h2 {
                        bottom: 20vh;
                        left: 190px;
                    }
                    .header-pic {
                        display: inline-block;
                        height: 320px;
                        position: absolute;
                        bottom: 0;
                        left: 16px;
                        -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
                        -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
                        -o-transform: matrix(-1, 0, 0, 1, 0, 0);
                    }
                }
            }
        }
    }

    /* Devices between 769px and 1024px */
    @media only screen and (min-width: 770px) and (max-width: 1024px) {
        .header {
            @include medium-header;
            .header__title {
                .header__title__child {
                    top: 22vh;
                    left: 10vw;
                }
                .header__title-pic {
                    left: 10vw;
                    h2 {
                        bottom: 23vh;
                    }
                    br {
                        display: none;
                    }
                    .header-pic {
                        display: inline-block;
                        height: 400px;
                        position: absolute;
                        bottom: 0;
                        right: -190px;

                    }
                }
            }
        } 
    }

    /* marger screens, at least 1025px */
    @media only screen and (min-width: 1025px) {
        .header {
            @include large-header;
            .header__title {
                .header__title__child {
                    top: 18vh;
                    left: 13vw;
                }
                .header__title-pic {
                    left: 15vw;
                    h2 {
                        bottom: 25vh;
                        br {
                            display: none;
                        }
                    }
                    .header-pic {
                        display: inline-block;
                        height: 440px;
                        position: absolute;
                        bottom: 0;
                        right: -220px;
                    }
                }
            }
        }
    }
}