/* Navigation configuration for landing page */
.home-nav {
    position: relative;
    width: 100%;
    outline: none;
    z-index: 6;
    .home-nav__list {
        display: flex;
        justify-content: space-around;
        bottom: 0;
        list-style-type: none;
        padding: 0.4rem;
        position: absolute;
        width: 100%;
        background-color: transparent;
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        li {
            a {
                h2 {
                    @include nav-items;
                }
            }
        }
        .third {
            a {
                h2 {
                    color: $light-blue-white
                }
            }
        }
    }
}
@media (hover: hover) {
    .home-nav {                
        .home-nav__list {
            .first, .second, .third {
                a:hover {
                    .nav__linkname {
                        @include nav-items-hover;
                    }
                }
            }
        }
    }
}