/* Navigation configuration for landing page */
.nav {
    position: relative;
    width: 100%;
    outline: none;
    .nav__list {
        display: flex;
        justify-content: space-around;

        background-color: transparent;
        bottom: 0;
        list-style-type: none;
        padding: 0.6rem;
        position: absolute;
        width: 100%;
        a {
            h2 {
                color: $header-color;
                font-size: 0.875rem;
                font-size: clamp(0.875rem, 0.7211538461538461rem + 0.7692307692307693vw, 1.875rem);
                padding: 0.7vh 0.7vw;
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
                border: 2px solid $header-color;
                border-radius: 25px;
            }
        }

    }
}
@media (hover: hover) {
    .nav {                
        .nav__list {
            .first, .second, .third {
                a:hover {
                    .nav__linkname {
                        border-color: $link-hover;
                        color: $link-hover;
                        transform: scale(1.1);
                    }
                }
            }

        }
    }
}