/* Navigation configuration for landing page */
.nav {
    position: relative;
    width: 100%;
    outline: none;
    .nav__list {
        display: flex;
        justify-content: space-around;

        background-color: transparent;
        bottom: 0;
        list-style-type: none;
        padding: 0.6rem;
        position: absolute;
        width: 100%;
        h2 {
            font-size: 0.875rem;
            font-size: clamp(0.875rem, 0.7211538461538461rem + 0.7692307692307693vw, 1.875rem);
        }
    }
}