body {
    position: relative;
    .footer {
        background-color: transparent;
        background-size: cover;
        align-items: center;
        bottom: 0.3rem;
        display: inline-flex;
        position: absolute;
        width: min-content;
        .footer__to-top-page {
            .material-symbols-rounded {
                color: $header-color;
                border: 3px solid $header-color;
                border-radius: 25px;
                padding: 1.5px;
            }
        }
    }
    @media only screen and (min-width: 769px) and (max-width: 1024px) {
        .footer {
            background-color: transparent;
            position: absolute;
            bottom: 1rem;
            .footer__to-top-page {
                margin-left: 2rem;
                .material-symbols-rounded {
                    font-size: 28px;
                }
            }
        }
    }
    
    @media only screen and (min-width: 1025px) {
        .footer {
            background-color: transparent;
            position: absolute;
            bottom: 1.3rem;
            .footer__to-top-page {
                margin-left: 2.2rem;
                .material-symbols-rounded {
                    font-size: 30px;
                }
            }
        }
    }
}

@media (hover:hover) {
    .footer {
        .footer__to-top-page:hover {
            .material-symbols-rounded {
                color: $link-hover;
                border-color: $link-hover;
            }
        }
    }
}
    
