$light-blue-white: #E5F1FD;
$light-blue: #619392;
$nav-bar-color: #a1bebc;
$green: #3a7844;
$blue: #174162;
$blue-par: #1b445c;
$blue-grey: #7989a1;
$link-hover: #9a9d9f;
$text-color: #2F3438;
$header-color: #151515;
$black-hover: lighten($text-color, 0.5);
$text-white: #E5E8EB;
$bar-fill: rgb(172, 174, 178);
$small-bg-color: #568B81;
$medium-bg-color: #99B2B2;
$big-bg-color: #92A7AA;
$azure-white: #E1F4F3;