body {
    .block--main {
        .block__section {
            width: 100%;
            margin: auto;
            background-color: $light-blue-white;
            color: set-text-color($light-blue-white);
            h1, h2, h3, h4, h5, h6 {
                color: $h-color-dark;
            }
            &:nth-of-type(even) {
                background-color: $dark-grey;
                color: set-text-color($dark-grey);
                h1, h2, h3, h4, h5, h6 {
                    color: lighten($h-aqua, 15);
                }
            }
            .block__section__title {
                display: inline-flex;
                padding: 1rem 0;
                margin: 3vw auto 1vw 10vw;
                font-size: 2rem;
                align-items: center;
                span {
                    padding-right: 1rem;
                    font-size: 4vh;
                }
            }
    
            .block__section__par {
                padding: 0 2rem 0.5rem;
                margin: auto;
                .block__section__par__child {
                    padding-bottom: 1rem;
                }
            }
        }
        @media only screen and (min-width: 481px) and (max-width: 1024px) {
            .block__section {
                .block__section__title {
                    font-size: 3rem;
                    margin-left: 4rem;
                    span {
                        font-size: 5vh;
                    }
                }
                .block__section__par {
                    padding: 0.5rem 4rem;
                }
            }
        }
    
        /* larger screens */
        @media only screen and (min-width: 1025px) {
            .block__section {
                padding-bottom: 1.5rem;
                margin-bottom: 1.5rem;
                .block__section__title {
                    font-size: 3rem;
                    margin-left: 10rem;
                    span {
                        font-size: 4rem;
                    }
                }
                .block__section__par {
                    width: 70%;
                    margin: 0 auto;    
                    padding: 0 0.5rem 1rem;
                    /* making the text inside the first section narrower*/ 
                    &:first-of-type {
                        .block__section__par {
                            width: 65%;
                        }
                    }
                }
            }
        }
    }    
}