body {
    .block__nav {
        align-items: center;
        background-color: transparent;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        display: flex;
        flex-direction: row-reverse;
        padding-top: 0.1rem;
        justify-content: space-between;
        position: fixed;
        text-shadow: 0 0 1.1rem $light-blue-white;
        width: 100%;
        z-index: 4;
        .block__nav__left {
            left: -4.5vw;
            position: relative;
            a {
                margin-left: 1.5rem;
                i {
                    size: clamp(0.5rem, 0.35rem + 0.75vw, 1.25rem);
                    color: $h-color-dark;
                }
            }
        }
        .block__nav__right {
            .menu-btn {
                position: relative;
                font-size: 2.5rem;
            }
            .block__nav__list {
                display: flex;
                visibility: collapse;
                color: transparent;
                font-size: 0;
                height: 0;
            }
            .menu-btn:hover, .menu-btn:focus {
                .block__nav__list {
                    visibility: visible;
                    display: flex;
                    width: 50vw;
                    height: 400px;
                    flex-direction: column;
                    position: absolute;
                    top: 3rem;
                    right: -7rem;
                    list-style-type: none;
                    li {
                        visibility: visible;
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}