body {
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .nav__right {
            position: relative;
            /*.menu-btn {
                color: black;
            }
            #dropdown {
                display: none;
            }
            #dropdown:target {
                display: block;
            }*/
            ul {
                display: none;
            }
        }
        .nav__right:focus {
            ul {
                visibility: visible;
                display: block;
            }
        }
    }
}