/* setting paddings and margins */
$space-amounts: (1,2,3,4,5);

@each $space in $space-amounts {
    .m-#{$space} {
        margin: #{$space}rem;
    }
    .my-#{$space} {
        margin: #{$space}rem 0;
    }
    .mx-#{$space} {
        margin: 0 #{$space}rem;
    }

    .p-#{$space} {
        padding: #{$space}rem;
    }
    .py-#{$space} {
        padding: #{$space}rem 0;
    }
    .px-#{$space} {
        padding: 0 #{$space}rem;
    }
}
/* h1 font */
@font-face {
    font-family: "aileron";
    src: url(/assets/font/aileron/Aileron-Black.otf) format(otf);
    font-weight: 900;
}

/* h2 font */ 
@font-face {
    font-family: "aileron";
    src: url(/assets/font/aileron/Aileron-Heavy.otf) format(otf);
    font-weight: 700;
}

/* h3-h6 font */
@font-face {
    font-family: "aileron";
    src: url(/assets/font/aileron/Aileron-Regular.otf) format(otf);
    font-weight: normal;
}

/* body font */
@font-face {
    font-family: "aileron";
    src: url(/assets/font/aileron/Aileron-Light.otf) format(otf);
    font-weight: 300;
    font-style: light;
}

/* strong font */
@font-face {
    font-family: "aileron";
    src: url(../../font/aileron/Aileron-Bold.otf) format(otf);
    font-weight: bold;
}

/* italic body font */
@font-face {
    font-family: "aileron";
    src: url(../../font/aileron/Aileron-LightItalic.otf) format(otf);
    font-style: italic;
}
/* font fallback, when aileron doesn't load */
/* barlow for h3-h6 */
@font-face {
    font-family: "barlow"; 
    src: url(../../font/barlow_condensed/BarlowCondensed-Medium.ttf) format(ttf);
    font-weight: 500;
}
/* barlow for h1 */
@font-face {
    font-family: "barlow";
    src: url(../../font/barlow_condensed/BarlowCondensed-Bold.ttf);
    font-weight: 900;
}
/* barlow for h2 */
@font-face {
    font-family: "barlow";
    src: url(../../font/barlow_condensed/BarlowCondensed-Medium.ttf) format(ttf);
    font-weight: 700;
}

/* Applying fonts to headings and text styles */

h1 {
    font-family: "aileron", "barlow";
    font-weight: 900;
}

h2 {
    font-family: "aileron", "barlow";
    font-weight: 700;
}

h3, h4, h5, h6 {
    font-family: "aileron", "barlow";
    font-weight: normal;
    font-weight: 500;

}

body {
    font-family: "aileron", sans-serif;
    font-weight: 300;
    font-style: light;
}

strong {
    font-family: "aileron", sans-serif;
    font-weight: bold;
}

em {
    font-family: "aileron", sans-serif;
    font-style: italic;
}

/* Setting up the a link */ 
a, a:visited, a:active {
    text-decoration: none;
    color: $h-aqua;
    @media (hover:hover) {
        &:hover {
            color: $link-hover;
        }
    }
}

/* Setting up the hr */
hr {
    border: none;
    height: 2vh;
}

/* setting up the breaker */
.breaker {
    width: 100%;
    height: 2rem;
}

@media only screen and (max-width: 480px) {
    $base-font-size: 18px;
    html {
        background-image: url(../../img/triangle-light-500.svg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        body {
            font-size: $base-font-size;
            line-height: 2rem;
            color: set-text-color(background-color);
            .block__header {
                h1 {
                    text-shadow: 0.2rem 0.2rem 1rem $light-blue-white;
                }
            }
        }
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    $base-font-size: 18px;
    html {
        background-image: url(../../img/triangle-light-768.svg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        body {
            font-size: $base-font-size;
            line-height: 2.2rem;
            .block__header {
                h1 {
                    text-shadow: 0.2rem 0.2rem 1rem $panna;
                }
            }
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    $base-font-size: 20px;
    html {
        background-image: url(../../img/triangle-light-1024.svg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        body {
            font-size: $base-font-size;
            line-height: 2.5rem;
            .block__header {
                h1 {
                    text-shadow: 0.2rem 0.2rem 1rem $light-blue-white;
                }
            }
        }
    }
}

@media only screen and (min-width: 1025px) {
    $base-font-size: 22px;
    html {
        background-color: transparent;
        body {
            font-size: $base-font-size;
            line-height: 3rem;
            .block__header {
                h1 {
                    text-shadow: 0.2rem 0.2rem 1.5rem $azure-white;
                }
            }
        }
    }
}