/* setting paddings and margins */
$space-amounts: (1,2,3,4,5);

@each $space in $space-amounts {
    .m-#{$space} {
        margin: #{$space}rem;
    }
    .my-#{$space} {
        margin: #{$space}rem 0;
    }
    .mx-#{$space} {
        margin: 0 #{$space}rem;
    }

    .p-#{$space} {
        padding: #{$space}rem;
    }
    .py-#{$space} {
        padding: #{$space}rem 0;
    }
    .px-#{$space} {
        padding: 0 #{$space}rem;
    }
}

/* h3-h6 font */
@font-face {
    font-family: "aileron";
    src: url(/assets/font/aileron/Aileron-Regular.otf) format(otf);
    font-weight: normal;
}

/* body font */
@font-face {
    font-family: "aileron";
    src: url(/assets/font/aileron/Aileron-Light.otf) format(otf);
    font-weight: 300;
}

body {
    font-family: "aileron";
    font-weight: 300;
    h3, h4, h5, h6 {
        font-family: "aileron";
        font-weight: normal;
    }

    a {
        text-decoration: none;
        color: $text-color;
    }
}

@media only screen and (max-width: 480px) {
    $base-font-size: 16px;
    body {
        font-size: $base-font-size;
    }
}