.block--main {
    background-color: $blue-grey;
    .block__section {
        width: 85%;
        margin: auto;
        background-color: $blue-grey;
        .block__section__title {
            display: inline-flex;
            padding: 1rem;
            margin: 3rem 1rem 0;
            font-size: xx-large;
            span {
                padding-right: 1rem;
                font-size: 2.5rem;
            }
        }

        .block__section__par {
            padding: 0.5rem 0 2rem;
            margin: auto;
            .block__section__par__subtitle {
                padding-bottom: 1rem;
                color: $header-color;
            }
            .block__section__par__child {
                color: darken($text-color, 10);
                padding-bottom: 1rem;
            }
            
            /* this changes accoring to the viewport*/
            .par__ruler, .par__ruler__work {
                padding: 1rem 0 0.5rem 1rem;
                border: none;
                border-left: 3px solid $black-hover;
                .par__ruler__desc, .par__work__column {
                    width: 90%;
                    .par__ruler__desc__card, .par__work__card, .par__work__card-rule {
                        margin-top: 0.4rem;
                        dt {
                            font-weight: bold;
                            position: relative;
                            @media only screen and (max-width: 480px) {
                                &::before {
                                    @include small-button;
                                    top: 50%;
                                    left: calc(-1rem - 10px);
                                }                                
                            }
                        }
                        dd {
                            padding: 0.2rem 0 1rem;
                        }
                    }
                }
            }
        }
        @media only screen and (min-width: 481px) and (max-width: 1024px) {
            .block__section__par {
                .par__ruler, .par__ruler__work {
                    border: none;
                    .par__ruler__desc, .par__work__column {
                        display: flex;
                        flex-direction: row-reverse;
                        justify-content: space-around;
                        &:first-of-type {
                            border: 4px solid $text-color;
                            border-right: none;
                            border-radius: 25px;
                            border-top-right-radius: inherit;
                            border-bottom-right-radius: inherit;
                        }
                        &:last-of-type {
                            flex-direction: row;
                            border: 4px solid $text-color;
                            border-left: none;
                            border-top: none;
                            border-radius: 25px;
                            border-bottom-left-radius: inherit;
                            position: relative;
                            &::after {
                                @include small-square;
                                background-color: $blue-grey;
                                width: 25px;
                                height: 10px;
                                right: -6px;
                                top: -9px;
                                border-radius: 25px;   
                            }    
                        }
                        .par__ruler__desc__card, .par__work__card-rule, .par__work__card {
                            padding: 0.5rem;
                            flex-basis: 40%;
                            dt {
                                position: relative;
                                &::before {
                                    @include small-button;
                                    top: calc(-1rem - 7px);
                                    left: 25%;
                                }
                            }
                        }
                    }

                }
            }
        }

        /* larger screens */
        @media only screen and (min-width: 1025px) {
            .block__section__par {
                width: 90%;
                .par__ruler, .par__ruler__work {
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: space-around;
                    border: none;
                    width: 100%;

                    .par__ruler__desc {
                        @include wide-timeline-column;
                        /* section to the right of the screen, chronologically the most recent one */
                        &:first-of-type {
                            justify-content: space-around;
                            padding-top: 1rem;
                            position: relative;
                            &::before {
                                @include small-button;
                                bottom: 52.2%;
                                left: 10%;
                            }
                            &::after {
                                @include small-button;
                                top: 44.5%;
                                right: 30%;
                            }
                            /* setting the text of the upper cards to the right */
                            .par__ruler__desc__card:first-child {
                                text-align: right;
                                padding-top: 3rem;
                                padding-right: 2rem;
                            }
                        }
                        /*  EDUCATION section to the left of the screen, chronologically the oldest one */
                        &:last-of-type {
                            position: relative;
                            width: 450px;
                            &::before {
                                @include small-button;
                                bottom: 52.2%;
                                left: 10%;
                            }
                            &::after {
                                @include small-button;
                                top: 44.5%;
                                right: 30%;
                            }
                            .par__ruler__desc__card {
                                padding: 0.5rem;
                                &:last-of-type {
                                    position: relative;
                                    &::before {
                                        @include horizontal-ruler;
                                        top: -1.5rem;
                                        left: -2rem;
                                    }
                                }
                                /* EDUCATION setting the text of the upper cards to the right */
                                &:first-child {
                                    text-align: right;
                                    padding-bottom: 2rem;
                                    padding-left: 2rem;
                                }
                            }
                        }
                    }
                    .par__work__column {
                        width: 450px;
                        position: relative;
                        .par__work__card, .par__work__card-rule {
                            padding: 1rem 0.5rem;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            &:first-child {
                                text-align: right;
                            }
                        }
                        .par__work__card-rule {
                            position: relative;
                            &::before {
                                @include horizontal-ruler;
                                width: 82vw;
                                top: -0.7rem;
                                left: -2rem;
                            }
                        }
                        /* adding the small dot */
                        &::before {
                            @include small-button;
                            top: 38.5%;
                            left: 7%;
                        }
                        &::after {
                            @include small-button;
                            bottom: 56.5%;
                            right: 13%;
                        }
                    }
                }
            }
        }
    }
}