main {
    .block__section {
        width: 100%;
        padding: 2rem;
        background-color: $blue;
        .block__section__title {
            display: flex;
            margin: 1rem;
            .material-symbols-outlined {
                padding-right: 1rem;
                font-size: 30px;
            }
        }
        .block__section__par {
            background-color: $blue;
        }
    }
}