/* about-main was getting too long */
.block__section {
    &:last-of-type {
        padding-bottom: 4vh;
    }
    .block__section__par {
        .skill__par {
            color: $text-color;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            .skill__par-wrap {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            
            .skill__par__card {
                width: fit-content;
                min-width: 180px;
                max-width: 80vw;
                border: 3px solid $text-white;
                border-radius: 20px;
                background-color: $text-white;
                padding: 1rem 0;
                margin: 1rem;
                details {   
                    summary {
                        cursor: pointer;
                        list-style: none;
                        outline: none;
                        /*for Safari and Firefox*/ 
                        &::-webkit-details-marker {
                            display: none;
                        }
                        h3 {
                            align-items: center;
                            margin: auto;
                            color: $text-color;
                            display: flex;
                            flex-direction: column;
                            font-weight: bold;
                            span {
                                font-size: 6rem;
                                color: lighten($light-blue, 13);
                                margin-bottom: 0.5rem;
                            }
                            &:focus-visible, &:focus-within, &:link {
                                text-decoration: none;
                            }
                        }
                    }
                    &[open] {
                        .skill__par__card__text {
                            padding: 1.2rem 1rem 1rem;
                            line-height: 1.8rem;
                        }
                        ul {
                            padding: 1.2rem 1rem 1rem;
                            list-style: none;
                            width: 100%;
                            li {
                                padding: 0.5rem;
                                position: relative;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: space-between;
                                h4 {
                                    color: $text-color;
                                    margin-bottom: 0.5rem;
                                }
                                .li-bar {
                                    width: 50vw;
                                    border: none;
                                    border-top: 5px solid $text-color;
                                    border-radius: 25px;
                                    position: relative;
                                    &::before {
                                        @include li-skill-bar;
                                        left: 0;
                                        color: $h-aqua;
                                    }
                                }
                                .ita {
                                    &::before {
                                        width: 100%;
                                    }
                                }
                                .eng {
                                    &::before {
                                        width: 95%;
                                    }
                                }
                                .spanish {
                                    &::before {
                                        width: 45%;
                                    }
                                }
                                .french {
                                    &::before {
                                        width: 20%;
                                    }
                                }
                                .tooltip {
                                    position: relative;
                                    .tooltiptext {
                                        display: none;
                                        position: absolute;
                                    }
                                    @media(hover:hover) {
                                        &:hover {
                                            .tooltiptext {
                                                display: inline-block;
                                                background-color: transparentize($text-color, 0.25);
                                                border: 1px solid none;
                                                border-radius: 5px;
                                                color: $text-white;
                                                bottom: 0.7rem;
                                                font-size: 13px;
                                                left: 65%;
                                                padding: 0 0.4rem;
                                                line-height: 5vh;
                                                /* inserting the arrow in the bubblespeech */ 
                                                &::after {
                                                    content: "";
                                                    position: absolute;
                                                    top: 100%;
                                                    left: 50%;
                                                    margin-left: -5px;
                                                    border-width: 4px;
                                                    border-style: solid;
                                                    border-color:transparentize($text-color, 0.25)
                                                    transparent transparent transparent;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
            
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 481px) and (max-width: 768px) {
        .block__section__par {
            .skill__par {
                .skill__par-wrap {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-evenly;
                    .skill__par__card {
                        width: fit-content;
                        max-width: 60vw;
                        height: min-content;
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 769px) {
        .block__section__par {
            .skill__par {
                align-items: center;
                flex-wrap: nowrap;
                flex-direction: row;
                justify-content: space-around;
                .skill__par-wrap {
                    align-items: center;
                    display: flex;
                    flex-basis: 66%;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-around;
                }
                .skill__par__card {
                    width: fit-content;
                    max-width: 20vw;
                    height: min-content;
                    h3 {
                        font-size: 1.5rem;
                    }
                    &:first-of-type {
                        details[open] {
                            min-width: 20vw;
                            max-width: 40vw;
                            ul {
                                li {
                                    .li-bar {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}