body {
    .block--main {
        .block__section {
            padding-bottom: 1rem;
            &:last-of-type {
                padding-top: 1.5rem;
                margin: 2rem 0;
                .block__section__par__subtitle {
                    color: $light-blue-white;
                }
            }
        }
    }
    @media only screen and (min-width: 1025px) {
        .block--main {
            .block__section {
                .block__section__title {
                    margin-left: 8rem;
                }
            }
        }
    }
}